<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar text-left panel-success">
        <li class="active"><a href="/News/index">NewsLetter</a></li>
        <li><a href="/Topics_types">Topics</a></li>
        <li><a href="/Users/index">Users</a></li>
        <li><a href="/Users/logout">Logout</a></li>
    </ul>
</div>