<?php if(isset($item->text)):?>
    <tr>
        <td align="justify" style="
        background-color:#ffffff;
        padding:5px;
        text-align:justify!important;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;

	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;">
                <?= $item->text?>
        </td>
    </tr>

    <?php if($item->separator===true):?>
        <tr style="background-color:#ffffff;">
            <td align="center" style="padding: 10px 0;">
                <?php echo ($item->orient=='left')? "<img src='http://svitla.com/mailimg/img/social/livoruch.png'>": "<img src='http://svitla.com/mailimg/img/social/pravoruch.png'>"?>

            </td>
        </tr>
    <?php endif;?>
<?php endif;?>
