<div ng-repeat="(n, value) in orient">

    <div style="{{value.style}};text-align: center;">{{value.name}}
        <span style="margin-right: 5px" class="navbar-right right btn-sm btn-info " ng-click="data.toBlock(n,value,side)">To {{side}}</span>
        <span style="margin-right: 5px" class="navbar-right right btn-sm btn-danger" ng-click="data.BlockDelete(n,orient)">Delete</span>
    </div>
    <div ng-repeat="(k, topic) in value.topic">
        <div style="margin:25px 0px;">

            <div text-angular ng-model="topic.text"  ></div>
            <a href="#!inline" class="btn-sm btn-danger" ng-click="data.delItem(n,k,orient)" style="margin-top:5px;">Delete this item</a>
        </div>
    </div>
    <a href="#!inline" class="btn btn-info" ng-click="data.add(n,orient)" style="margin-bottom: 25px;">Add new item</a>
</div>